<%- include("partial/header.ejs") -%>

<h1>Home</h1>
<p><%= homecontent %> </p>
<% console.log(posted); %>

<% posted.forEach(function(element){ %>
<h1><%= element.title %></h1>
<p> <%= (element.content).substring(1,100)+"..." %>
  <a href="/posted/<%=element.title%>">readmore</a>
 </p>
<%}); %>




<%- include("partial/footer.ejs") -%>
